name: Activity Box

on:
  schedule:
    - cron: '*/600 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: JasonEtco/activity-box@master
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_USERNAME: wo-o29
          GIST_ID: 6b55830e2605f618f9cebc2027f6397d
